---
---

@charset "utf-8";

$spacing-unit:     	3vw;
$theme-primary: 	#5AC598;
$secondary-color:	#31357a;
$theme-dark: 		#222;
$text-color:		white;
$border-color:		white;
$pic-bg-color:		white;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

body > * {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
	&, &:hover, &:active, &:focus, &:visited { 
		outline: 0;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
	}

	&:focus:not(#logo-link) {
		color: $text-color;
	}
}

.text-primary { color: $text-color;}

hr { border-color: $border-color;}

#bs-example-navbar-collapse-1 {
	border: none;
	text-align: right;

	li { height: 5vh;}
}

header, section:not(#agenda) {
	& {
		display: flex;
		min-height: 100%;
		align-items: center !important;
	}
}

#contact {
	a {
		display: block;

		img {
			background-color: $pic-bg-color;
			border: 2px solid $secondary-color;
			display: inline-block;
			margin-bottom: 3vh;
		}
	}

	& .container-fluid .row:last-child {
		div:last-child {
			a img:last-child { margin: 0;}
		}
	}
	
}


#mainNav {
	& {
		border: none;
		background-color: transparent;
		color: $text-color;
	}

	& a {
		& {
			color: $text-color !important;
		}

		&:hover {
			color: $secondary-color;
		}
	}
}


#about, #tickets, #contact {
	background-color: $theme-primary;
	color: $text-color;
}

#agenda, #coc {
	& {
		background-color: $secondary-color;
	}
	&, & .text-muted {
		color: $text-color;
	}
}

header .header-content {
	& {
		padding: 0;
	}

	& .header-content-inner {
		& {
			width: 100%;
			max-width: inherit;
		}

		* {
			text-transform: uppercase;
		}

		h1 { 
			font-size: 4 / 3 * $spacing-unit !important;
			font-weight: normal;
			padding-bottom: $spacing-unit;
		}

		h2 {
			font-size: $spacing-unit;
		}

		.btn {
			color: white;
			border-radius: 0;
		}

		.btn-primary {
			border-color: $theme-primary;
			background-color: $theme-primary;
		}

		.btn-secondary {
			background-color: transparent;
			border: 2px solid $border-color;
		}
	}
}



@media screen and (min-width: 425px) {
	a:focus:not(#logo-link) {
		border-bottom: 2px solid $border-color !important;
	}

	header .header-content {
		& .header-content-inner {
			.btn-primary {
				border: 2px solid $theme-primary;
				margin-right: $spacing-unit / 2;
			}
		}
	}
}

@media screen and (max-width: 424px) {
	a:focus:not(#logo-link):not(.btn) {
		border-bottom: none;
	}

	header .header-content {
		& .header-content-inner {
			.btn-primary {
				margin-right: 0;
				margin-bottom: $spacing-unit / 2;
			}
		}
	}
}