<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">An <a href="http://hackergarten.net/" rel="noopener" target="_blank">Hackergarten</a> event</h2>
                <hr class="light">
                <p class="text-left" lang="fr">Développeur·se francophone ?<br />
                Nous vous invitons à nous rejoindre pour contribuer à des projets open source d'envergure !<br />
                Que ce soit des améliorations de documentation, des corrections de bugs ou l'ajout de nouvelles fonctionnalités, chaque contribution compte !</p>
                <p class="text-left" lang="fr">L'événement est ouvert à tou·te·s, quel que soit votre niveau.<br />
                Des ateliers d'introduction auront même lieu en début de journée pour celles et ceux qui le souhaitent.</p>
                <hr />
                <p class="text-left">We want to invite developers in June to Paris.<br /> 
                Let us get together and support open source projects by fixing issues and adding new features and most of all learn and have fun.</p>
                <p class="text-left">The event is open to every developer, regardless of their experience.<br />
                We plan to have introduction workshops at the beginning of the day.</p>
                <p class="text-left">Each contribution counts!</p>
            </div>
        </div>
    </div>
</section>
