<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">Hackergarten?</h2>
                <hr class="light">
                <p class="text-left" lang="fr">Développeur·se francophone ? Vous êtes les bienvenu·e·s !</p>
                <p class="text-left">We want to invite developers this summer to Paris.<br /> 
                Let us get together and support open source projects by fixing issues and adding new features and most of all learn and have fun.</p>
                <p class="text-left">The event is open to every developer, regardless of their experience.<br />
                We plan to have introduction workshops at the beginning of the day.</p>
                <p class="text-left">Each contribution counts!</p>
                <a href="#tickets" class="btn btn-default btn-xl">Get your ticket</a>
            </div>
        </div>
    </div>
</section>
