<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Day (subject to change)</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary"></i>
                    <h3>9:00 to 10:00</h3>
                    <p class="text-muted">Register at the reception, meet the other attendants!</p>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>10:00 to 11:00</h3>
                    <p class="text-muted">Hear what the organizers, sponsors and project leads have to say!</p>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>11:00 to 13:00</h3>
                    <p class="text-muted">Join a workshop or a project to work on a contribution.</p>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>13:00 to 14:00</h3>
                    <p class="text-muted">Time to rest and enjoy a good lunch.</p>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>14:00 to 18:00</h3>
                    <p class="text-muted">Get back to the project and resume your work.</p>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-glass wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>18:00 to 19:00</h3>
                    <p class="text-muted">Nicely done! Enjoy a drink and chat with other participants.</p>
                </div>
            </div>
        </div>
    </div>
</section>
