<section id="coc">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <i class="fa fa-4x fa-comment wow bounceIn text-primary"></i>
                <h2 class="section-heading">Code of Conduct</h2>
                <hr class="primary">
                <p class="text-left">Our event is meant to be a harassment-free experience for everyone, regardless of age, gender, sexual orientation, disability, physical appearance, body size, race, or religion. We will not tolerate harassment of participants in any form. Participants or sponsors violating these rules will be sanctioned or expelled by the event organisers.</p>

                <p class="text-left">Any form of written or verbal communication or direct actions that can be harassing to any participant or staff is not allowed at this event.</p>

                <p class="text-left">Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion; sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of activities; inappropriate physical contact; and unwelcome sexual attention.</p>

                <p class="text-left">We expect everyone to follow these rules at all times at the main event venue and event-related social events.</p>

                <p class="text-left">Please inform an event organizer if you feel a violation has taken place. Participants asked to stop any harassing behavior are expected to comply immediately. The organizers will be happy to help participants contact security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event.</p>

                <p class="text-left">We value your attendance.</p>
            </div>
        </div>
    </div>
</section>