<section id="contact">
    <div class="container-fluid text-center">
        <div class="row no-gutter">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="section-heading">Reach Out to the Organizers!</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <a href="https://twitter.com/aalmiray">
                    <img class="wow bounceIn" alt="Andres" title="Andres" src="img/andres.png" />
                </a>
            </div>
            <div class="col-sm-5">
                <a href="https://twitter.com/fbiville">
                    <img class="wow bounceIn" alt="Andres" title="Florent" src="img/florent.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <a href="https://twitter.com/hboutemy">
                    <img class="wow bounceIn" alt="Andres" title="Hervé" src="img/herve.png" />
                </a>
            </div>
            <div class="col-sm-5">
                <a href="https://twitter.com/mesirii">
                    <img class="wow bounceIn" alt="Andres" title="Michael" src="img/michael.png" />
                </a>
            </div>
        </div>
    </div>
</section>
