<section id="contact">
    <div class="container-fluid text-center">
        <div class="row no-gutter">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="section-heading">Reach Out To the Organizers!</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <a href="https://twitter.com/aalmiray">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Andres Almiray</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://twitter.com/fbiville">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Florent Biville</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <a href="https://twitter.com/hboutemy">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Hervé Boutémy</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://twitter.com/mesirii">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Michael Hunger</p>
                </a>
            </div>
        </div>
    </div>
</section>
