<header>
    <div class="header-content">
        <div class="header-content-inner" id="main-info">
            <h2>Paris June 15, 2019</h2>
            <h3>Thank you for attending!</h3>
            <hr>  
            <iframe src="https://www.youtube.com/embed/FhTck5qLekQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div id="host" class="header-content-inner">
    	<div id="techandcode">
    		<div>
	    		<p lang="fr">Hébergé par</p>
	    		<p>Hosted by</p>
	    	</div>
	    	<a target="_blank" rel="noopener" href="https://www.techandcodefactory.fr/"><img id="techcodefactorylogo" src="img/techandcodefactory-logo.png" alt="Sponsor Tech & Code Factory" /></a>
    	</div>
    </div>
</header>
