<header>
    <div class="header-content">
        <div class="header-content-inner" id="main-info">
            <h2>Paris June 15, 2019</h2>
            <hr>
            <h1>The 1<sup>st</sup> <b>hackergarten</b> conference</h1>
            <div id="main-links">
            	<a href="#tickets" class="btn btn-primary btn-xl page-scroll">Get your ticket</a>
            	<a href="#about" class="btn btn-secondary btn-xl page-scroll">Discover more</a>
            </div>
        </div>
    </div>
    <div id="host" class="header-content-inner">
    	<div id="techandcode">
    		<div>
	    		<p lang="fr">Hébergé par</p>
	    		<p lang="fr">Hosted by</p>
	    	</div>
	    	<a target="_blank" rel="noopener" href="https://www.techandcodefactory.fr/"><img id="techcodefactorylogo" src="img/techandcodefactory-logo.png" alt="Sponsor Tech & Code Factory" /></a>
    	</div>
    </div>
</header>
