<section id="sponsors">
    <div class="container-fluid text-center">
        <div class="row no-gutter">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <a rel="noopener" target="_blank" href="https://www.techandcodefactory.fr/">
                    <img class="wow bounceIn" alt="Sponsor Tech And Code Factory" title="Tech And Code Factory" src="img/techandcodefactory-logo.png" />
                </a>
            </div>
            <div class="col-sm-5">
                <a rel="noopener" target="_blank" href="https://www.mozilla.org">
                    <img class="wow bounceIn" alt="Sponsor Mozilla" title="Mozilla" src="img/mozilla.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 sponsor-tbd">
                <p>To be announced</p>
            </div>
            <div class="col-sm-5 sponsor-tbd">
                <p>To be announced</p>
            </div>
        </div>
    </div>
    </div>
</section>