<section id="tickets">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa-ticket wow bounceIn text-primary"></i>
                <h2 class="section-heading">Tickets</h2>
                <hr class="light">
                <p>Please follow the <a rel="noopener" target="_blank" href="https://hack-commit-push.devcommunity.events/event/HCP-Paris2019">link</a>.</p>
            </div>
        </div>
    </div>
</section>