<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="light">
                <dl>
                    <dt>Address</dt>
                    <dd><a target="_blank" rel="noopener" href="https://www.techandcodefactory.fr/">Tech & Code Factory (Web School Factory)</a> &middot; <a class="localization" target="_blank" rel="noopener" href="https://goo.gl/maps/igtuSSGBYFwym2nA7">59 rue nationale - 75013 Paris</a>
                    <dt>Closest stop</dt>
                    <dd>Olympiades &middot; Metro 14 (<a  class="localization" target="_blank" rel="noopener" href="https://www.ratp.fr/sites/default/files/plans-lignes/Plans-essentiels/Plan-Metro.1555581459.pdf">metro map</a>)
                </dl>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.7142893619794!2d2.364331815673227!3d48.825512579284286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e672262aa6daf3%3A0x2be7229eacc07c23!2s59+Rue+Nationale%2C+75013+Paris!5e0!3m2!1sen!2sfr!4v1557072240414!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
