<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="light">
                <dl>
                    <dt>Address</dt>
                    <dd><a target="_blank" rel="noopener" href="https://www.techandcodefactory.fr/">Tech & Code Factory (Web School Factory)</a> &middot; <a class="localization" target="_blank" rel="noopener" href="https://www.openstreetmap.org/?mlat=48.82515&mlon=2.36528#map=18/48.82515/2.36528">59 rue nationale - 75013 Paris</a>
                    <dt>Closest stop</dt>
                    <dd>Olympiades &middot; Metro 14 (<a  class="localization" target="_blank" rel="noopener" href="https://www.ratp.fr/sites/default/files/plans-lignes/Plans-essentiels/Plan-Metro.1555581459.pdf">metro map</a>)
                </dl>
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.363696694374085%2C48.82360356298946%2C2.3668617010116577%2C48.82669734403379&amp;layer=mapnik&amp;marker=48.82515047738576%2C2.365279197692871" style="border: 1px solid black"></iframe><br/><small><a target="_blank" rel="noopener" href="https://www.openstreetmap.org/?mlat=48.82515&amp;mlon=2.36528#map=18/48.82515/2.36528">View Larger Map</a></small>
            </div>
        </div>
    </div>
</section>
